#logo {
 height: 42px;
 width: 47px;
 padding-left: 15px;
}
#banner-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: fill;
    position: relative;
    left: 5px;
    padding: 0px;
}
#notiflogo{
    height:37px;
    width: 42px;

}
.logos{
    height: 42px;
    width: 42px;
    
}
.x2{
    position:relative;
    right: 55px
}

#nav-banner{
    z-index: 100;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 1px 1px #b4b4b4, 1px 1px 1em #8f8f8f;
    button{
        font-size: 15px;
        height: 37px;
        width: 80px;
        background-color: black;
        padding-right: 20px;
        margin-left: 1%;
    }
    input{
        height: 30px;
        width: 300px;
        font-size: 10px;
        color: black;
        margin-top: 4px;
        border-radius: 16px;
    }
    Link{
        font-size: 20px;
    }
    .banner-text{
        font-size: 20px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: black;
        
    }
    a{
        padding-top: 0px;
        border-radius: 60px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    a:hover{
        background-color: rgba(218, 218, 218, 0.959);
    }
    img, input, button, .banner-text{
        padding-left: 6px;
        padding-right: 6px;
    }
    img{
        padding-top: 10px;
        padding-bottom:10px;
        
    }
}
.inner-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 350px;
    margin-right: 10px;
}


