#logo {
 height: 38px;
 width: 43px;
 padding-left: 15px;
}
#logo:hover{
    background-color: rgba(218, 218, 218, 0.959);
    border-radius: 50%;
}
#banner-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: fill;
    position: relative;
    left: 5px;
    padding: 0px;
    margin: 0px;
}
#notiflogo{
    height:33px;
    width: 39px;
    border-radius: 50%;

}
#notiflogo:hover{
    background-color: rgba(218, 218, 218, 0.959);
    cursor: pointer;
}
.notif-dropdown{
    display: flex;
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 800;
    background-color: white;
    box-shadow: 1px 1px 1px #cacaca, 1px 1px 1em #c7c7c7;
    border-radius: 8px;
}
#notif-logo:hover + .notif-dropdown{
    display: flex
}
#notif-logo:active + .notif-dropdown{
    display: flex
}
.active{
    background-color: rgba(153, 153, 153, 0.959);
}
.active:hover{
    background-color: rgba(136, 136, 252, 0.959);
}
.notif-dropdown:hover{
    display: flex;
}
.logos{
    height: 35px;
    width: 35px;
    position: relative;
    top: -1px;
    padding: 0px;
    
}
.x2{
    position:relative;
    right: 55px
}

#nav-banner{
    height: 50px;
    z-index: 100;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    box-shadow: 1px 1px 1px #b4b4b4, 1px 1px 1em #8f8f8f;
    form{
        padding:0px;
        height: 45px;
    }
    button{
        font-size: 13px;
        height: 32px;
        width: 65px;
        background-color: black;
        padding-right: 20px;
        margin-left: 1%;
    }
    button:hover{
        cursor: pointer;
        color: black;
        background-color: white;
        border: 1px solid rgb(68, 68, 68);
    }
    input{
        height: 25px;
        width: 300px;
        font-size: 10px;
        color: black;
        margin-top: 7px;
        border-radius: 16px;
    }
    .banner-text{
        font-size: 15px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: black;
        
    }
    .a{
        padding-top: 0px;
        border-radius: 60px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .a:hover{
        background-color: rgba(218, 218, 218, 0.959);
        cursor: pointer;
    }
    img, input, button, .banner-text{
        padding-left: 6px;
        padding-right: 6px;
    }
    img{
        padding-top: 5px;
        padding-bottom:5px;
        
    }
}
.inner-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 350px;
    margin-right: 10px;
}


