#signupform {
    
    position: fixed;
    background-color: rgb(247, 247, 247);
    top: 22%;
    width: 400px;
    left: 33%;
    color: black;
    border: 1px solid rgb(201, 201, 201);
    padding-left: 20px;
    padding-bottom: 35px;
    padding-top: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #bdbdbd, 1px 1px 1em #c0bdbd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h5{
        font-weight: 100;
        margin-top: 10px;
        font-size: 13px;
    }
    h4 {
        color: black;
        font-weight: 300;
        font-size: 30px;
        margin-top: 0px;
        padding-top: 0px
        // padding-bottom: ;
    }
    hr{
        position: relative;
        right: 20px;
        color: rgb(214, 214, 214);
    }
    p{
        color: black;
        font-size: 20px;
        margin-top: 3px;
        font-weight: 100;
    }
    h3 {
        margin-top: 5px;
    }
    button{
        background-color: rgb(37, 194, 37);
        width: 175px;
        height: 40px;
        font-size: 20px;
        margin-left: 100px;
        margin-bottom: 0px;
        margin-top: 15px;
        
    }
    button:hover{
            background-color: darkgreen;
        }
    input {
     margin-top: 5px;
     border-radius: 4px;
     margin-bottom: 0px;
     width: 175px;
     margin-left: 4px;
     height: 35px;
     text-indent: 5px;
     background-color: rgb(241, 241, 241);;
     font-size: 15px;
     border: 1px solid rgb(187, 187, 187);
    }
    input[type=date]{
        width: 360px;
        height: 30px;
    }
 }
 #emailpassword{
     input{
         width: 360px;
     }
 }

.head {
    display: flex;
    // align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    
}
#log-in{
    position: relative;
    top: 95px;
}
.disabled{
    opacity: .3;
}
.closeWindow{
    color: black;
    position: relative;
    right: 35px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
}
.closeWindow:hover{
    cursor: pointer;
}


 #signupform h1{
    padding-bottom: 20px;
 }

 #buttonContainer {
     position: relative;
     top: 25px;
     width: 185px;
     height: 50px;
     display: flex;
     align-items: center;
     background-color: rgb(32, 167, 32);
     border-radius: 8px;


 }

 header {
     font-size: 600%;
 }

 div h1 {
    font-size: 300%;
    color: rgba(82, 82, 248, 0.959)
 }


 div p {
     color: black;
     font-size: 185%;
 }

 .LogIn {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 200px;
    left: 30px;

 }

 #loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
    left: 60%;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    position:relative;
    background: rgb(245, 245, 245);
    width: 100px;
    font-size: 22px;
    box-shadow: 1px 1px 1px #bdbdbd, 1px 1px 1em #c0bdbd;
    hr {
        position: relative;
        right: 95px;
    }
    
 }
 .sudoButton{
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     left: 2px;
     padding: 10px;
     padding-bottom: 0px;
     margin-bottom: 0px;
     position: relative;
     top: 10px;
     border-radius: 8px;
     height: 50px;
     width: 360px;
     font-weight: 300;
     color: white;
     text-align: center;
     font-weight:100;
 }
 a{
     font-weight: 300;
 }
 #buttonContainer:hover{
     transition: delay 2s;
     transform: 0.5s;
     background-color: rgb(35, 148, 35);
 }

 p {
     margin-top: 10px;
 }

 #loginheader{
    position: relative;
    left: 5%;
    background-color: transparent;
 }

 button {
     background-color: rgba(82, 82, 248, 0.959);
     border: rgba(82, 82, 248, 0.959);
     border: 1px darkgrey;
     height: 45px;
     width: 180px;
     border-radius: 8px;
     font-size: 22px;
     font-weight: 300;
     margin-top: 5px;
     margin-bottom: 9px;
     color: rgba(255, 255, 255, 0.918);
     font-family: 'Roboto', sans-serif;
 }
 #log-in-buttons{
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     button{

         margin-left: 2.5px;
         margin-right: 2.5px;
     }
 }
 button:hover {
     background-color: rgba(64, 64, 202, 0.959);
     cursor: pointer;
 }
 

 input{
     margin-bottom: 12px;
     border-radius: 8px;
     width: 360px;
     height: 50px;
     font-size: 20px;
     font-weight: 300;
     font-family: 'Roboto', sans-serif;
     border: 1px solid rgb(209, 208, 208);
     background-color: rgb(245, 245, 245);
     text-indent: 15px;
 }

 .errors {
     display: flex;
     justify-content: center;
     li{
        position: fixed;
        background-color: rgb(221, 77, 77);
        font-size: 20px;
        width: 300px;
        text-align: center;
    }

 }


 

