#profile-page{
    background: linear-gradient(to bottom, rgb(36, 214, 116) 20%, white 40%, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    #top-profile{
        margin-top: 62px;
        height: 504px;
    }
    #camera{
        height:40px;
        width: 40px;
        background-color: rgb(223, 223, 223);
        border-radius: 50%;
        position: absolute;
        right: 55px;
        top: 60px;
        z-index: 50;
        img{
            object-fit:contain;
            height: 24px;
            width: 29px;
            position: relative;
            top: 7px;
            left: 5px;

        }

    }
    #camera:hover{
        background-color: rgb(187, 187, 187);
        cursor: pointer;
    }
    .post-item{
        border-radius: 8px;
        border-left: 1px solid rgb(230, 230, 230);
        border-right: 1px solid rgb(230, 230, 230);
        border-top: 0.5px solid rgb(230, 230, 230);
        border-bottom: 3px solid rgb(230, 230, 230);
        background-color: white;
        padding: 5px;
        margin-bottom: 10px;
        .full-comment{
            display: flex;
            flex-direction: column;
            justify-content: column;
        }
        .post-left{
            margin-left: 0px;
        }
        .post-right{
            display: flex;
            justify-content: right;
        }
        #post-header{
            display: flex;
            justify-content: space-between;
        }
        .time{
            font-size: 10px;
        }
        #comment-buttons-div{
            display: flex;
            flex-direction: row;
        }
        .comment-buttons{
            color:rgba(93, 93, 255, 0.959);
            text-decoration: underline;
        }
        .comment-buttons:hover{
            color:rgba(80, 80, 248, 0.959);
            cursor: pointer;
        }
        .comment-section{
            border-top: 1px solid rgb(221, 220, 220);
        }
        .inbetween{
            display: flex;
            flex-direction: column;
        }
        #comment-form{
            // border-top: 1px solid rgb(221, 220, 220);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            input[type=text]{
                height: 20px;
                width: 560px;
                font-size: 20px;
            }
            button{
                position: relative;
                bottom: 2px;
                height: 24px;
                width: 100px;
                background-color: rgb(146, 145, 145);
                font-size: 15px;
            }
            button:hover{
                background-color: rgb(158, 156, 156);
            }
        }
        .comment{
            display: flex;
            justify-content: row;
            .names{
                background: #f0f2f5;
                border-radius: 25px;
            }
            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                position: relative;
                top: 10px;
            }
            p{
                font-size: 16px;
                padding-right: 15px;
                padding-top: 0px;
                white-space: pre-wrap;

            }
            a{
            color: black;
            font-size: 12px;
            font-weight: 300;
            text-decoration: none;
            }
            a:hover{
                color: rgba(82, 82, 248, 0.959);
            }
            h2{
            color: black;
            font-size: 10px;
        }
        }
        p{
            margin-left: 15px;
            margin-bottom: 15px;
        }
        *{
            margin-left: 2px;
            margin-top: 5px;
        }
        h4{
            color: black;
            font-size: 18px;
        }
        h2{
            color: black;
            font-size: 14px;
        }
        ul{
            align-items:flex-start;
            display: flex;
            flex-direction: row;
        }
        ol{
            position: relative;
            bottom: 3px;
        }
        textarea{
            resize:none;
            height: 40px;
            max-height: 300px;
            width: 475px;
            font-size: 30px;
            border: none;
        }
        textarea:hover{
            cursor: pointer;
        }
        input[type=submit]{
            
            height: 30px;
            width: 120px;
            font-weight: 100;
            font-size: 20px;
            position: relative;
            left: 360px;
        }
        input[type=submit]:hover{
            background-color: lightgray;
            
        }
        #profimg{
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    #bottom-profile{
        display: flex;
        position: relative;
        left: 3.2%;
        flex-direction: row;
        margin-top: 20px;
        background-color: rgb(240, 242, 245);
        .left-container{
            position: sticky;
            top: 72px;
            max-height: 300px;
            border-left: 1px solid rgb(230, 230, 230);
        border-right: 1px solid rgb(230, 230, 230);
        border-top: 0.5px solid rgb(230, 230, 230);
        border-bottom: 3px solid rgb(230, 230, 230);
            h1{
                font-size:30px;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                color: black;
            }
            button{
                width: 320px;
                height: 35px;
                font-size: 20px;;
                background-color: rgba(82, 82, 248, 0.959);
            }
            button:hover{
                background-color: rgba(93, 93, 255, 0.959);
            }
            *{
                margin: 10px;
            }
            p{
                font-weight: 300;
                width: 320px;
                font-size: 25px;
                text-align: center;
                margin-left: 10px;
            }
            h4{
                font-weight: 300;
                width: 320px;
                font-size: 25px;
                text-align: left;
                margin-left: 10px;
            }
            background: white;
            width: 347px;
            border-radius: 8px;
            margin-right: 5px;
        }
        .right-container{
            width: 596px;
            border-radius: 8px;
            margin-left: 5px;
            h1{
                display: flex;
                justify-content: center;
                color: black;
            }
        }
    }
    #editbutton{
        background-color: rgba(82, 82, 248, 0.959);
        height: 40px;
        width: 200px;
        position: absolute;
        left: 734px;;
        top: 68%;
        font-size: 20px;
    }
    #editbutton:hover{
        background-color: rgba(93, 93, 255, 0.959);
    }
    .selected{
        border-bottom: 2px solid rgba(82, 82, 248, 0.959);
        color:rgba(82, 82, 248, 0.959)
    }
    li:hover{
        cursor: pointer;
        background: lightgray;
        border-bottom: 2px solid darkgrey;
        
    }
    li{
        font-weight: 700;
        display: flex;
        justify-content: center;
        width:  60px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-bottom: 10px;
        padding-top: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    button{
        background-color: rgba(82, 82, 248, 0.959);
    }
    button:hover{
        background-color: rgba(93, 93, 255, 0.959);
    }
    #cover{
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        width: 1000px;
        height: 300px;
        object-fit: cover;
    }
    #profile{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
        bottom: 70px;
        left: 2%;
        border: 4px solid white;
        
    }
    .sudo-text{
        border: none;
        border-radius: 16px;
        width: 520px;
        color: black;
        height: 40px;
        text-indent: 20px;
        text-align: left;
        background-color: #f0f2f5;
    }
    .sudo-text:hover{
        background-color: #ebebeb;
        cursor: pointer;
    }
    ul{
        align-items: baseline;
        padding-left: 3px;
    }
    .options-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        padding-left: 10px;
        position: relative;
        left: 23px;
    }
    #main-ul{
        display: flex;
        flex-direction: row;
        height: 150px;

        p {
            font-size: 40px;
            font-weight: 700;
            position: relative;
            left: -5px;
            top: 10px;
        }
        ol{
            width: 240px;
            position: relative;
            left: 30px;
        }
    }

}

