#profile-page{
    background: linear-gradient(to bottom, rgb(36, 214, 116) 20%, white 40%, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    #top-of-profile{
        height: 504px;
    }
    button{
        background-color: gray;
        height: 40px;
        width: 200px;
        position: relative;
        left: 172%;
        top: 68%;
        font-size: 20px;
    }
    .selected{
        border-bottom: 2px solid rgba(55, 55, 255, 0.959);
        color:rgba(55, 55, 255, 0.959)
    }
    li:hover{
        cursor: pointer;
        background: lightgray;
        border-bottom: 2px solid rgba(55, 55, 255, 0.959);
        
    }
    li{
        font-weight: 700;
        display: flex;
        justify-content: center;
        width:  60px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-bottom: 10px;
        padding-top: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    button:hover{
        background-color: darkgray;
    }
    #cover{
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        width: 1000px;
        height: 300px;
        object-fit: cover;
    }
    #profile{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
        bottom: 70px;
        left: 2%;
        border: 2px solid grey;
        
    }
    ul{
        align-items: baseline;
        padding-left: 10px;
    }
    .options-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        position: relative;
        left: 23px;
    }
    #main-ul{
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
        height: 150px;

        p {
            font-size: 40px;
            font-weight: 700;
            position: relative;
            left: 25px;
            top: 10px;
        }
    }

}
